<li class="relative" data-controller="dropdown-item">
  <%= link_to pdfs_path, 
      class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left" do %>
    View PDFs
  <% end %>
</li> 