<div id="lab_tests" class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-right rounded-md">
    <%= render "index_table_head", recordables: @recordables %>
    <%= render "index_table_body", recordables: @recordables, biomarkers: @biomarkers %>
  </table>
</div>
