<%= render "lab_test", lab_test: @lab_test %>

<div>
  <%= link_to "Edit this lab test",
              edit_lab_test_path(@lab_test),
              method: :get,
              class: "edit-button"
  %>
  <%= link_to "Back to lab tests",
              lab_tests_path,
              method: :get,
              class: "secondary-button"
  %>

  <%= button_to(
        "Remove this lab test",
        @lab_test,
        method: :delete,
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "delete-button"
      ) %>
</div>
