<h1 class="text-2xl my-3">New biomarker</h1>

<%= render "form", biomarker: @biomarker %>

<div>
  <%= link_to "Back to biomarkers",
              biomarkers_path,
              method: :get,
              class: "secondary-button"
  %>
</div>
