<div class="mb-3">
  <label class="form-label">Lab Report Format</label>
  <%= f.select :scan_method, 
      options_for_select([
        ["Sterling Accuris", "sterling_accuris"],
        ["University Medical Center, Dept. of Pathology", "umc_pathology"]
      ]), 
      { prompt: "Select a format" },
      { required: true, class: "form-select" } %>
</div> 