<section>

  <header class="my-2 flex flex-center justify-between items-center">
    <h1 class="text-center text-2xl my-3">Health records</h1>
    <%= link_to "New health record", new_health_record_path, class: "create-button" %>
  </header>

  <div id="health_records" class="relative overflow-x-auto shadow-md sm:rounded-lg">

    <table class="w-full text-sm text-left text-right rounded-md">

      <thead class="text-xs text-gray-700 uppercase bg-gray-400 text-center">

      <tr>
        <th scope="col" class="px-6 py-3">
          User
        </th>
        <th scope="col" class="px-6 py-3">
          Notes
        </th>
        <th scope="col" class="px-6 py-3">
          Created date
        </th>
        <th scope="col" class="px-6 py-3">
          Updated date
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Show</span>
        </th>
      </tr>

      </thead>

      <tbody>
      <% @health_records.each do |health_record| %>
        <%= render health_record %>
      <% end %>
      </tbody>

    </table>

  </div>

</section>
