<div class="container mt-4">
  <header class="tw-my-2 tw-flex tw-flex-center tw-justify-between tw-items-center">
    <h1 class="tw-text-lg">Health records</h1>
    <%= link_to "View PDFs", new_pdf_path, class: "btn btn-primary" %>
  </header>

  <div id="health_records" class="tw-relative tw-overflow-x-auto tw-shadow-md tw-sm:tw-rounded-lg">
    <% if @health_records&.any? %>
      <table class="tw-w-full tw-text-sm tw-text-left tw-text-gray-500">
        <thead class="tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-400 tw-text-center">
          <tr>
            <th scope="col" class="tw-px-6 tw-py-3">
              User
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
              Notes
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
              Created date
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
              Updated date
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
              <span class="tw-sr-only">Show</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @health_records.each do |health_record| %>
            <%= render health_record %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info text-center" role="alert">
        No health records found. Start by uploading a PDF.
      </div>
    <% end %>
  </div>
</div>
