<div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">New Measurement</h1>
        <%= link_to "Back to measurements", 
                measurements_path,
                class: "secondary-button" %>
    </div>

    <%= render "form", measurement: @measurement %>
</div>