<h1 class="text-2xl my-3">New measurement</h1>

<div>
  <%= link_to "Back to measurements",
              measurements_path,
              method: :get,
              class: "secondary-button"
  %>
</div>
