<section>
  <header class="my-2 flex flex-center justify-between items-center">
    <h1 class="text-center text-2xl my-3">Users</h1>
  </header>

  <div id="users" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-right rounded-md">
      <%= render "index_table_head" %>
      <%= render "index_table_body", users: @users %>
    </table>
  </div>

</section>
