<div class="p-4 rounded border bg-red-100 border-red-400 text-red-800 mt-4 fixed right-2 top-12" role="alert">
  <h2 class="font-bold text-center text-2xl my-3">
    <%= header %>
  </h2>
  <% unless errors.empty? %>
    <ul class="list-disc list-inside">
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <button type="button" class="absolute top-1 right-1 text-gray-500 hover:text-gray-700 focus:outline-none" aria-label="Close" onclick="this.parentElement.remove()">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>